ead2002-plus-schematron.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Import the full EAD 2002 XML Schema -->
    <xs:import namespace="urn:isbn:1-931666-22-9" schemaLocation="http://www.loc.gov/ead/ead.xsd"/>

    <xs:element name="ead">
        <xs:annotation>
            <xs:appinfo>
                <ns uri="urn:isbn:1-931666-22-9" prefix="ead"/>
                <pattern>

                    <rule context="ead:ead" role="fatal">
                        <assert test="ead:archdesc[ead:did]">Cannot test further: Document lacks an archdesc containing a did</assert>
                    </rule>

                    <rule context="/ead:ead/ead:archdesc" role="error">
                        <assert test="ead:acqinfo">Missing element: acqinfo</assert>
                        <assert test="ead:bioghist">Missing element: bioghist</assert>
                        <assert test="ead:controlaccess">Missing element: controlaccess</assert>
                        <assert test="ead:odd/ead:head[normalize-space(string()) = 'Shelfmark:']">Missing element: odd (with a heading of "Shelfmark:")</assert>
                        <assert test="ead:prefercite">Missing element: prefercite</assert>
                        <assert test="ead:scopecontent">Missing element: scopecontent</assert>
                    </rule>

                    <rule context="/ead:ead/ead:archdesc/ead:did" role="error">
                        <assert test="ead:abstract">Missing element: abstract</assert>
                        <assert test="ead:physdesc/ead:extent">Missing element: extent</assert>
                        <assert test="ead:langmaterial">Missing element: langmaterial</assert>
                        <assert test="ead:unitid">Missing element: unitid</assert>
                        <assert test="ead:unitdate[@type = 'inclusive']">Missing element: unitdate (of type "inclusive")</assert>
                    </rule>

                    <rule context="//ead:abbr | //ead:accruals | //ead:address | //ead:addressline | //ead:altformavail | //ead:appraisal | //ead:arc | //ead:archdescgrp | //ead:archref | //ead:bibseries | //ead:blockquote | //ead:change | //ead:chronitem | //ead:chronlist | //ead:colspec | //ead:creation | //ead:daogrp | //ead:daoloc | //ead:defitem | //ead:descgrp | //ead:descrules | //ead:dimensions | //ead:dscgrp | //ead:eadgrp | //ead:emph | //ead:entry | //ead:event | //ead:eventgrp | //ead:extptr | //ead:extptrloc | //ead:extrefloc | //ead:fileplan | //ead:frontmatter | //ead:function | //ead:genreform | //ead:head01 | //ead:head02 | //ead:imprint | //ead:label | //ead:lb | //ead:legalstatus | //ead:linkgrp | //ead:listhead | //ead:materialspec | //ead:name | //ead:namegrp | //ead:note | //ead:notestmt | //ead:num | //ead:occupation | //ead:origination | //ead:physfacet | //ead:physloc | //ead:phystech | //ead:processinfo | //ead:ptr | //ead:ptrgrp | //ead:ptrloc | //ead:publisher | //ead:ref | //ead:resource | //ead:row | //ead:runner | //ead:seriesstmt | //ead:subarea | //ead:subtitle | //ead:table | //ead:tbody | //ead:tgroup | //ead:thead | //ead:titlepage" role="error">
                        <report test=".">Banned element: <name/></report>
                    </rule>
                    
                    <rule context="/ead:ead/ead:archdesc/ead:did/ead:langmaterial" role="error">
                        <let name="alllangmaterial" value="parent::ead:did/ead:langmaterial"></let>
                        <assert test="$alllangmaterial/ead:language[@langcode] and string-length(normalize-space(replace(string-join($alllangmaterial//text()), '( and |,|\.)', ''))) gt 0">Insufficient language description: There must be both language codes and human-readable text</assert>
                    </rule>
                    
                    <rule context="ead:unitdate" role="error">
                        <assert test="@normal">Missing attribute: unitdates must have normal attributes</assert>
                    </rule>
                    
                    <rule context="/ead:ead/ead:archdesc/ead:controlaccess" role="warn">
                        <assert test=".//ead:subject and (.//ead:persname or .//ead:corpname)">Missing elements: controlaccess should contain at least one subject and at least one name</assert>
                    </rule>
                    
                    <rule context="ead:physdesc" role="warn">
                        <report test="count(ead:extent) gt 1">Too many elements: multiple extents</report>
                    </rule>

                    <rule context="//ead:scopecontent" role="warn">
                        <report test="//ead:list[.//ead:list]">Too much structure: nested list in scopecontent</report>
                    </rule>

                    <rule context="//ead:extref">
                        <assert test="@*[local-name() = 'href' and namespace-uri() = 'http://www.w3.org/1999/xlink']" role="error">Missing attribute: extref needs xlink:href</assert>
                        <report test="@*[starts-with(name(), 'ns2')]" role="warn">Wrong namespace prefix: <name/> using ns2: instead of xlink: (also need to change declaration in the root element)</report>
                    </rule>

                    <rule
                        context="//ead:accessrestrict | //ead:altformavail | //ead:arrangement | //ead:bibliography | //ead:custodhist | //ead:editionstmt | //ead:geogname | //ead:originalsloc | //ead:otherfindaid | //ead:relatedmaterial | //ead:separatedmaterial | //ead:sponsor | //ead:userestrict"
                        role="info">
                        <report test=".">Optional element: <name/></report>
                    </rule>

                </pattern>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>

</xs:schema>
